*  {
    margin: 0px;
    padding: 0px;
}

body {
    font-family:Garamond;
     text-align:center;
    color: black;

}


h1 {
    font-size: 45px;
    margin-bottom:10px;
}

p{
    font-size: 20px;
    margin-bottom: 45spx;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

h2  {
    
    font-size: 25px;
    margin-bottom: 10px;
}

.carousel-item {
    
    height:500px;
  }

.card-container {
    display: flex;
    justify-content: space-between;

}

.card {
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
}

.me-auto{
    margin-right: unset !important;
}

#navbarSupportedContent{
    justify-content: inherit;
}